$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-bcg-color: rgba(33, 150, 243, 0.9);
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$hero-bcg-color: rgba(47, 48, 58, 0.8);
$secodary-bcg-color: #f5f4fa;
$team-link-color: #afb1b8;
$social-link-color: #afb1b8;
$footer-bcg-color: #2f303a;
$font-primary: Roboto, sans-serif;
$font-logo: Raleway, sans-serif;
