.footer {
  color: $primary-white-color;
  background-color: $footer-bcg-color;
}

.footer-conteiner {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.f-box-one {
  width: 100%;
  padding-top: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - (30px + 15px)) / 4);
    margin: 0 30px 0 0;
    padding-bottom: 60px;
  }
}

.logo.footer {
  // text-align: center;
  color: $primary-white-color;
  margin-top: 0;
  margin-bottom: 20px;
}

.address-text {
  // text-align: center;
  font-family: $font-primary;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-text a {
  // text-align: center;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.f-box-two {
  padding-top: 60px;

  @media screen and (max-width: 1199px) {
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 15px) / 2);
    padding-bottom: 94px;
  }
}

.bold {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.f-socials {
  display: flex;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
  margin-top: 20px;
}

.footer-social {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $primary-white-color;
}
