.hero {
  width: 480px;
  min-height: 400px;
  margin: 0 auto;
  background-color: $hero-bcg-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-img.jpg);
  background-size: cover;
  background-position: center;

  text-align: center;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1600px) {
    width: 1600px;
    min-height: 600px;
  }
}

.hero-box {
  padding: 118px 1px;
  margin: 0 auto;
}
.hero-title {
  width: 360px;
  height: 84px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 26px;
  color: $primary-white-color;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1600px) {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}
